<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.song.backfol.domain.user.UserMapper">
    <insert id="join" parameterType="com.song.backfol.domain.user.dto.UserDTO">
      INSERT INTO user_TB
      (user_ID, user_PW, user_role, create_date, update_date)
      VALUES(#{userId}, #{userPw}, #{userRole}, #{createDate}, #{updateDate});
    </insert>

    <!-- <insert id="addRole" parameterType="com.song.backfol.domain.user.dto.UserDTO">
      INSERT INTO user_authority_TB
      (user_FK, authority_FK)
      VALUES(
        (SELECT user_PK FROM user_TB WHERE user_ID = #{userId}),
        (SELECT authority_PK FROM authority_TB WHERE authority_PK = #{userRole})
      );
    </insert> -->

    <select id="findUser" resultType="com.song.backfol.domain.user.dto.UserDTO">
      SELECT user_ID, user_PW, user_role
      FROM user_TB
      WHERE user_ID = #{userID}
    </select>

    <select id="findUserId" resultType="com.song.backfol.domain.user.dto.UserDTO">
      SELECT user_PK 
      FROM user_TB
      WHERE user_ID = #{userId};
    </select>
</mapper>

<!-- Optional<UserVo> findByUserId(String userId); -->